/**
Defines the CSS3 styles for all the DOM objects throughout the web app.

@author: Elias Gabriel, Duncan Mazza
@revision: v1.5
@credit: Original styling based off of Bootstrap's example "Cover" theme
**/
html, body {
	height: 100%;
	background-color: #333;
}

body {
	display: -ms-flexbox;
	display: flex;
	color: #fff;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
 	max-width: 42em;
}

.cover {
 	padding: 0.75rem 1.25rem;
 	font-weight: 700;
}

.mastfoot {
	color: rgba(255, 255, 255, 0.5);
}

#selector {
	display: none;
}

.button {
	color: #333;
 	text-shadow: none;
	background-color: #fff;
	border: 0.05rem solid #fff;
	border-radius: 0.3rem;
	cursor: pointer;
}

#error {
	width: 30rem;
	margin: 0.25rem auto 6rem auto;
}

#capture {
	position: fixed; 
	min-height: 100%;
	top: 0; 
	left: 50%;
	transform: translateX(-50%) scaleX(-1);
}

#marker {
	max-width: 100%;
	padding: 5rem;
	background-color: white;
}
